# tmux plugin manager (tpm)
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'omerxx/tmux-sessionx'

# tmux-sessionx
set -g @sessionx-bind '$'

# set the prefix to ctrl+s
unbind C-s
set -g prefix C-s

# terminal settings with true color support
set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",tmux-256color:Tc"

# enable xterm key bindings
set-window-option -g xterm-keys on

# new panes configuration
unbind '"'
bind o split-window -v -c "#{pane_current_path}"
unbind %
bind e split-window -h -c "#{pane_current_path}"

# toggle statusline with b key
bind b set-option status

# key bindings for copy mode and navigation
bind-key a copy-mode
setw -g mode-keys vi
bind -T copy-mode-vi v   send-keys -X begin-selection
bind -T copy-mode-vi V   send-keys -X select-line
bind -T copy-mode-vi C-v send-keys -X rectangle-toggle
# this is fucking working i dunno why just keep it for now
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xsel -i --clipboard"
set -g copy-command 'xsel -i --clipboard'

# switch panes using alt-arrow keys without prefix key
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# switch windows using shift-arrow keys
bind -n S-Left previous-window
bind -n S-Right next-window

# resize panes with ctrl+shift and arrow keys
bind -n C-S-Left resize-pane -L 5
bind -n C-S-Right resize-pane -R 5
bind -n C-S-Up resize-pane -U 5
bind -n C-S-Down resize-pane -D 5

# reload config
bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded."

# create a new session with a custom name, defaulting to the basename of the current working directory
bind-key S command-prompt -p "session name [start in cwd]:" -I "#{s|.*/||:pane_current_path}" "new-session -s '%%' -c '#{pane_current_path}'"

# create a new window with a custom name
bind-key N command-prompt -p "window name [start in cwd]:" -I "typeshit" "new-window -n '%%' -c '#{pane_current_path}'"

# create a new window with the current directory as start directory
bind C new-window -c "#{pane_current_path}"

# use hjkl for pane traversal
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# enable mouse support
setw -g mouse on

# set window split and base index
set -g base-index 1
setw -g aggressive-resize on

# status bar configuration
set -g status-interval 30
set -g status-left-length 200
set -g status-right-length 40
set -g status-left ' #[fg=green] #S #[fg=green]• #(~/.bin/vpn-status.sh) '
set -g status-right '#[default]#[fg=green]  󰃰 %H:%M#[fg=blue] | #[fg=blue] #(whoami)'

# colors and styles
set-option -g display-panes-active-colour "#0B6DB3"
set-option -g display-panes-colour "#7dcfff"
set-option -g message-style "bg=#1a1b26,fg=#7dcfff"
set-option -g pane-active-border-style "fg=#0B6DB3"
set-option -g pane-border-style "fg=#32344a"
set-option -g status-style bg=default,fg=colour136
set-window-option -g clock-mode-colour green
set-window-option -g mode-style "fg=#1a1b26,bg=#7dcfff"
set-window-option -g window-status-current-style fg=#0B6DB3,bg=default,bright
set-window-option -g window-status-style fg=colour244,bg=default,dim

# windows format
set -g window-status-current-format ' #W'
set -g window-status-format '#I -> #W'

# allows for faster key repetition
set -s escape-time 50

# auto window rename
set -g automatic-rename on
set -g set-titles on

# initialize tpm
run '~/.tmux/plugins/tpm/tpm'