configuration {
  modi: "drun,run,window,ssh";
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "> Apps";
  display-run: "> Run";
  display-window: "> Windows";
  display-ssh: "> SSH";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font 13";
  terminal: "mate-terminal";
}

@theme "default"

window {
  width: 600px;
}