[Settings]
gtk-theme-name={{ gtk_theme }}
gtk-icon-theme-name=Flat-Remix-Pink-Dark
gtk-font-name={{ system_font }}
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintslight
gtk-xft-rgba=rgb
gtk-decoration-layout=icon,menu:minimize,maximize,close
